/*variables*/
$button-gap: 0.35rem;
$vertical: 1.8rem;
$vertical-sm: 0.75rem;
$compact: 550px;

/*globals*/
html {
    font-size: 19px;
    @media screen and (max-width: $compact) {
        font-size: 14px;
    }
}
body {
    box-sizing: border-box;
}

/*fonts*/
h1, h2, h3, h4, h5, h6 {
    //font-family: avenir, 'avenir next', helvetica, arial, sans-serif;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*generic elements*/
figure {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
figcaption {
    font-style: italic;
    color: gray;
}
h2 {
    color: #444;
    //margin-left: -0.4rem;
    //margin-right: -0.4rem;
    font-size: 1.7em;
    border-bottom: solid lightgray 1px;
    margin-top: $vertical;
    margin-bottom: 0.5em;
}

/*custom elements*/
.responsive {
    max-width: 100%;
    height: auto;
}

/*widths*/
.content, 
.footer {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 1rem;
    padding-right: 1rem;
}
.box-padding {
    max-width: $compact;
    margin-left: auto;
    margin-right: auto;
}

/*vertical spacing*/
.box-padding {
    margin-top: $vertical;
    margin-bottom: $vertical;
    @media screen and (max-width: $compact) {
        margin-top: 0;
    }
}
.box > .logo {
    margin-bottom: $vertical-sm; /*better optics with the shadow*/
}
.meat > .blurb {
    margin-bottom: $vertical-sm;
}
.content {
    margin-bottom: $vertical;
}

/*button*/
/*appearance*/
.btn {
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
    font-size: 1.0rem;

    font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
    font-weight: 500;
    text-shadow: none;

    border-radius: 0.5rem;

    &:link, &:visited, &:hover, &:active {
        text-decoration: none;
    }
}
.btn-subtitle {
    font-size: 0.6em;
    font-style: italic;
}
/*layout*/
.btn {
    display: inline-flex; /*this is the only way I can get the contents of two buttons to center*/
    flex-direction: row;
    align-items: center;
    vertical-align: middle; /*this fixes the !@#$ problem where images have extra px when on same line*/

    & > * {
        margin-right: 0.7rem;
    }
    & > *:last-child {
        margin-right: 0;
    }
}
.btn-title {
    display: block;
}
.btn-subtitle {
    display: block;
}

/*button styles*/
.btn {
    background-color: gray;

    /*link text color can't cascade*/
    &:link, &:visited, &:hover, &:active {
        color: white;
    }
}
.btn-primary {
    background-color: #2F79B9;
}
.btn-secondary {
    background-color: #58B957;
}
.btn-amazon {
    // background-color: #dadada;
    background-color: brown;
    border-radius: 0.3rem;

    &:link, &:visited, &:hover, &:active {
        // color: black;
    }
}
.btn-donate {
    // background-color: #58B957;
    border-radius: 0.3rem;
    // font-family: Verdana,sans-serif;
    // box-shadow: 0 2px 0 0 #1f5a89; 
    // text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background: #4398C3;
}

/*box*/
/*appearance*/
.box {
    background-color: #B7E6FB;

    padding: $vertical-sm;

    border-radius: 1rem;
    @media screen and (max-width: $compact) {
        border-radius: 0;
    }
 
    text-align: center;
}
.blurb {
    /*elements here are tuned for appearance, not legibility*/
    p {
        margin: 0;
    }
    h1 {
        margin-top: 0;
        margin-bottom: 0.25em;
    }

    font-family: avenir, 'avenir next', helvetica, arial, sans-serif;

    p {
        color: #1F6E8F;
    }
    h1 {
        color: #10445A;
        font-weight: 1000;
    }

    padding-left: 2rem;
    padding-right: 2rem;
    @media screen and (max-width: $compact) {
        padding-left: 0;
        padding-right: 0;
    }
}
/*layout*/
.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;

    & > * {
        /*ensures that there are no weird gaps no matter the wrapping*/
        margin: $button-gap;
    }
}

/*content*/

/*donations*/
/*layout*/
.donations {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;    

    & > * {
        margin: $button-gap;
    }
    margin: -$button-gap;
}

/*footer*/
.footer {
    border-top: solid lightgray 1px;

    font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
    font-size: 0.9em;
    color: gray;
}